/* #region general */
:root {
  --mainColor: #b2b3b8;
  --defaultSize: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: unset;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}

/* #endregion */
/* #region CONNECTED STYLES */

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: unset;
  font-style: normal;
}
/* #endregion */
/*#region BUTTONS */
.BlueButton {
  width: 135px;
  max-width: 217px;
  height: 50px;
  background-color: #3a6afd;
  border: none;
  border-radius: 100px;
  font-size: var(--defaultSize);
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BlueButton:hover {
  background-color: white;
  color: #00060f;
}
.viewMaterials {
  width: 100%;
  max-width: 217px;
  height: 50px;
  border-radius: 100px;
  background-color: #242834;
  display: flex;
  text-align: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  font-size: var(--defaultSize);
}
.viewMaterials:hover {
  background-color: white;
  color: black;
}
/* #endregion */
/* #region HEADER */

header {
  top: 20px;
  display: flex;
  width: 100%;
  height: 107px;
  position: fixed;
  justify-content: space-between;
  z-index: 100;
}
.logo {
  height: 45px;
  width: 45px;
  background-color: #3a6afd;
  border: none;
  border-radius: 10px;
  display: flex;
}
.logo svg {
  width: 24px;
  height: 25px;
  margin: auto;
}
.logotext {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 14px;
  color: white;
}
.logotext h2 {
  width: 100%;
  max-width: 70px;
  height: 24px;
  font-size: 1.5rem;
  font-weight: 800;
}
.logotext h3 {
  width: 100%;
  max-width: 134px;
  height: 18px;
  font-size: 0.875rem;
  font-weight: 700;
}
.logoWithText {
  display: flex;
  margin-left: 37px;
  flex-shrink: 0;
}
/* #region PCnav */

.PCnav {
  display: flex;
  gap: 20px;
}
.PCnav ul {
  width: 540px;
  height: 50px;
  background: #00060f;
  border-radius: 100px;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-evenly;
}
.PCnav ul a {
  color: white;
  transition: color 0.4s;
}
.PCnav ul a:hover {
  color: #3a6afd;
}
.PCnav .getQuote {
  margin-right: 40px;
}
.PCnav .BlueButton {
  margin-right: 25px;
}
/* #endregion */
/* #region MOBILEHEADER*/
#MenuToggle {
  display: none;
}
.MobileNav {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: fixed;
  display: none;
  left: 1000px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 0;
  background: #242834;
  z-index: 999;
  transition: opacity 0.3s ease 0.1s;
}
.BurgerIcon {
  display: none;
  flex-direction: column;
  gap: 6px;
  width: 45px;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 2px;
  z-index: 1000;
}
.BurgerIcon span {
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: transform 0.25s ease, opacity 0.2s ease;
  transform-origin: center;
}
#MenuToggle:checked ~ .BurgerIcon span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#MenuToggle:checked ~ .BurgerIcon span:nth-child(2) {
  opacity: 0;
}

#MenuToggle:checked ~ .BurgerIcon span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.MobileNav ul {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.MobileNav li {
  font-size: 2rem;
  color: white;
}
/* #endregion */

/* #endregion */
/* #region FOOTER */

footer {
  display: flex;
  background-color: #242834;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2rem;
}
footer > div {
  gap: 12px;
}
footer p {
  color: var(--mainColor);
}
footer h3 {
  margin-top: 54px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  margin-bottom: 30px;
}
.Fcontact {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 8%;
}
.Fcontact .aMail {
  color: var(--mainColor);
}
.Fcontact .aTel {
  color: var(--mainColor);
}
.Fcontact .BlueButton {
  margin-top: 27px;
}
.FBeinTheKnow {
  display: flex;
  flex-direction: column;
  margin-right: 24%;
}
.FBeinTheKnow label {
  color: var(--mainColor);
}
.sumbitEmail {
  display: flex;
  margin-top: 25px;
}
footer #subEmail {
  transition: color 0.4s ease;
  width: 100%;
  max-width: 16px;
  height: 16px;
  margin-right: 10px;
}
footer #subEmail:hover {
  border-color: white;
}
#Fsubmit {
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 82px;
  height: 41px;
  border-radius: 100px;
  font-size: var(--defaultSize);
  transition: all 0.4s;
  margin-left: auto;
}
#Fsubmit:hover {
  background-color: black;
  color: white;
}
#InpEmail {
  width: 100%;
  max-width: 383px;
  height: 40px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  padding-left: 20px;
  font-size: 0.9375rem;
}
footer form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 55px;
}
.sumbitEmail {
  display: flex;
  align-items: center;
}
footer a {
  color: var(--mainColor);
}
.Fmenu {
  display: flex;
  flex-direction: column;
}
.Fmenu ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.Fsocialmedia ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footerMain {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.license {
  margin-left: 38px;
}
.licenseOwner {
  text-decoration: underline;
}
/* #endregion */
/* #region RESPONSIVE*/

@media screen and (max-width: 950px) {
  .PCnav {
    display: none;
  }
  .MobileNav {
    display: flex;
  }
  .BurgerIcon {
    display: flex;
  }
  #MenuToggle:checked ~ .MobileNav {
    opacity: 1;
    left: 0;
  }
  footer {
    flex-direction: column;
  }
  .footerMain {
    flex-direction: column;
  }
  .license {
    margin-top: 1rem;
    margin-left: 0;
  }
}

/* #endregion */
