/* #region Contact */
:root {
  $ContactMaincolor: rgb(0, 6, 15);
  $ContactSecondarycolor: #3a6afd;
}
#bluenav {
  color: #3a6afd;
}
main {
  height: 90vh;
  width: 100%;
  background-image: url("../../media/contacts/Contactbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: flex-end;
}

.Cform {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: space-between;
  padding-left: 5%;
form {
  height: 50vh;
  max-width: 780px;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


}
.Cheader {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  color: #fff;
   h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
h3 {
  font-size: 1.125rem;
  font-weight: 400;
}
}



.divFpart {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}
.CminiForm {
  font-size: 1rem;
  color: $ContactMaincolor;
   input {
  border: none;
  border-bottom: 100px solid  $ContactMaincolor;
  height: 40px;
  width: 240px;
  padding-left: 10px;
}
}
.LformAndSubmit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  padding: 0 1rem;
   .CminiForm {
  width: 100%;
  max-width: 680px;
  input {
  height: 75px;
  width: 100%;
  max-width: 680px;
}}
}
.submit {
  width: 100%;
  display: flex;
   .empty {
  width: 100%;
  max-width: 169px;
}
}

.viewMaterials {
  color: white;
  max-width: 210px;
  height: 45px;
}
.viewMaterials:hover {
  background-color: #3a6afd;
  color: white;
}
/* #endregion */
/* #region RESPONSIVE*/
@media screen and (max-width: 800px) {
  main {
    height: 120vh;
    padding-bottom: 4rem;
  }
  .divFpart {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .Cheader {
    padding-left: 1rem;
  }

  .Cform  {
    form {
    height: 90vh;
    max-width: unset;
    width: 95%;
    align-self: center;
    justify-content: unset;
    gap: 2rem;
    padding-bottom: 3rem;
    .divFpart:nth-child(1) {
    padding-top: 2rem;
  }
}
  }
  .divFpart { 
    input{
    width: 300px;}
  }
  
  .LformAndSubmit {
    align-items: center;
    .CminiForm {
input {
    width: 300px;
  }
  
    }
    .CminiForm {
    max-width: unset;
    width: 300px;
    .submit {
    justify-content: center;
  }
  }
  }
}
/* #endregion */
