/* #region MATERIALS*/
.PCnav ul li:nth-child(3) a {
  color: #3a6afd;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 10rem;
  background: #000;
  padding-bottom: 7rem;
}
.Mheader {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 1vh;
  color: #fff;
}
.Mheader h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.Mheader h3 {
  font-size: 1.125rem;
  font-weight: 400;
}
.materials {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #242834;
}
.material {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0 1rem;
  padding-bottom: 5rem;
  border: 1px solid #33383f;
}
.WhiteHeaderContainer {
  max-width: 282px;
  width: 100%;
}
.Whiteheader {
  display: flex;
  align-items: center;
  padding-left: 10px;
  left: 4.5%;
  width: 100%;
  max-width: 170px;
  height: 54px;
  background: white;
  border-radius: 0px 0px 10px 10px;
  transition-duration: 1s;
  transition-delay: 0.1s;
  z-index: 2;
}
.Whiteheader h2 {
  font-size: 1.125rem;
  color: #00060f;
  font-weight: 700;
  padding-left: 10px;
}
.material img {
  border-radius: 10px;
}
.Mlist {
  width: 100%;
  max-width: 282px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Mlist p {
  font-size: 0.875rem;
  padding-bottom: 1rem;
  color: white;
  font-weight: 700;
  border-bottom: 1px solid #50535d;
}
.Mlist p:nth-child(10) {
  border-bottom: none;
}
/* #endregion */

@media screen and (max-width: 950px) {
  main {
    padding-bottom: 0;
  }
  .materials {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 950px) and (max-width: 1100px) {
  .WhiteHeaderContainer,
  .Mlist,
  .material img {
    max-width: 200px;
  }
}
